@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- END | Header -->

<div class="hero mv-single-hero">

</div>
<div class="container">
		<div class="row">
					<video width="320" height="500" controls>
  <source src="https://firebasestorage.googleapis.com/v0/b/netflix-clone-423a7.appspot.com/o/Video%2Fvideo-1645005088.mp4?alt=media&token=fdd29666-a1fb-47e8-892d-faea1fc36bc4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
		</div></div>
<!-- footer section-->
<!-- end of footer section-->

<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
